#####################
# Autotools artifacts
#####################
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/build-aux
*.log

.deps/

Makefile
Makefile.in

*.o
src/cresty
src/libcresty.a

test/test_dict
test/test_request
test/test_conf
test/*.trs
