#####################
# Autotools artifacts
#####################
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
*.log

.deps/

src/Makefile.in
src/**/*.o
src/cresty
src/Makefile
